@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

footer {
    color: #ffffff;
    padding: 2rem 0;
    background-color: #7c7c7c3b;
    backdrop-filter: blur(5px);
    border-top: solid .1px #95949452;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-section {
    flex: 1;
    min-width: 200px;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 1rem;
}

.footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer-section #follow{
    font-weight: 600;
    font-size: 1.3rem;
    padding-top: 1rem;
}

.footer-section p,
.footer-section ul {
    font-size: 0.875rem;
    line-height: 1.5;
    text-transform: capitalize;
}

.footer-section .visit{
    margin-bottom: 1rem;
}

.footer-section p span{
    text-transform: capitalize;
    color: #FF5E19;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.footer-section p span:hover{
    color: #ffffff;
    cursor: pointer;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 1rem;
}

.footer-section ul li a {
    color: #ffffff;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #FF5E19;
}

.footer-section .social-icons {
    display: flex;
    gap: 1rem;
    padding-top: 0.5rem;
}

.footer-section .social-icons a {
    border: 2px solid #ffffff2f;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px; 
    color: #ffffff;
    transition: all 0.3s ease;
}

.footer-section .social-icons a:hover {
    color: #FF5E19;
    border: 2px solid #FF5E19;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    cursor: pointer;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
    filter: brightness(0.7);
}

.footer-bottom {
    text-align: center;
    padding: 2rem 0;
    font-size: 0.875rem;
    border-top: solid 0.1px #95949452;
    margin-top: 2rem;
}