@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    color: #ffffff;
}

.nav_wrapper {
    justify-content: center;
    width: 100%;
    background-color: rgb(22, 22, 22);
}

.navigation_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 90%; */
    max-width: 1500px;
    height: 90px;
    padding-left: 50px;
    padding-right: 50px;
}

.navigation_button {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.navigation_button a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
}

.login_button, .register_button {
    background-color: #FF5E19;
    padding: 5px 20px 5px;
    border-radius: 200px;
}

.head_nav,
.a {
    display: flex;
    align-items: center;
    gap: 50px;
}

.head_nav a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
}

.head_nav .a a:hover{
    cursor: pointer;
    color: #FF5E19;
    transition-delay: 1.3ms;
}

/* .login_button:hover, .register_button:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #FF5E19;
} */
/* 
.login_button:hover,
.login_button a:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #FF5E19;
    text-emphasis-color: #FF5E19;
} */



.logo img {
    width: auto;
    height: 200px;
}
