@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@font-face {
    font-family: "FF Mark W05";
    src: url(https://lolstatic-a.akamaihd.net/accounts-fonts/FFMarkW05-Ultra.f4c089710fab9b5bf7a12703bed83b8a.woff2) format("woff2"), url(https://lolstatic-a.akamaihd.net/accounts-fonts/FFMarkW05-Ultra.720bdcb352f14de2f474315da59a20c5.woff) format("woff"), url(https://lolstatic-a.akamaihd.net/accounts-fonts/FFMarkW05-Ultra.91a91bc3cd2163aae787cc4d4f955c7f.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}
  
*{
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #FF5E19;
    --text-color: #fff;
}

body{
    max-width: 1600px;
    background: url(https://cdn.prod.website-files.com/655f1188cf5e283d9d642d99/65ba5ebf6624166ae66b62fa_HERO-IMAGE-BACKGROUND.webp) no-repeat center center fixed;
    background-size: cover;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.nav-bar{
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding: 2rem 10rem;
}

.nav-bar .img-logo img{
    width: 100px;
}

.login-container{
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
}

.login-container .right-container h1{
    display: block;
    font-family: 'FF Mark W05', sans-serif;
    text-align: left;
    justify-content: center;
    font-size: 5rem;
    margin-top: 50%;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text-color);
}

.login-container .left-container h3{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-color);
    letter-spacing: 5px;
}

.login-container .right-container span{
    display: flex;
    color: transparent;
    border: none;
    -webkit-text-stroke: 1px var(--primary-color);
}

.login-container .left-container{
    height: 520px;
    max-width: 50%;
    display: flex;
    justify-content: center;
    padding: 2rem 3rem;
    background-color: transparent;
    backdrop-filter: blur(3px);
    border: solid 1px #ffffff16;
    background-color: #908d8d20;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.login-container .left-container:hover{
    background-color: #7e7b7b20;
}

.login-container .left-container form{
    margin-top: 30px;
}

.login-container .left-container form label{
    display: block;
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    color: var(--text-color);
    padding-bottom: 10px;
    padding-top: 30px;
}

.login-container .left-container form input{
    width: 400px;
}

.login-container .left-container button{
    display: flex;
    margin: 10px auto;
    cursor: pointer;
}

.login-container .left-container form input[type="email"],
.login-container .left-container form input[type="password"],
.login-container .left-container form input[type="text"] {
    padding: 7px 0px;
    color: var(--primary-color);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 10px;
    padding-left: 1rem;
    outline: none;
    background: #fff;
    border: solid 0.1px #000;
    transition: all 0.3s ease;
}

.login-container .left-container form input[type="email"]:hover,
.login-container .left-container form input[type="password"]:hover,
.login-container .left-container form input[type="text"]:hover {
    border: solid 0.1px var(--primary-color);
}

.login-container .left-container .password{
    display: inline-block;
    position: relative;
}

.login-container .left-container .password .pass_icon {
    position: absolute;
    right: 10px;
    top: 80%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--primary-color);
}

.login-container .left-container button{
    cursor: pointer;
    padding: 10px 30px;
    margin: 30px auto;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.left-container form .link {
    display: flex;
    flex-direction: column; /* Stack the links vertically */
    align-items: center; /* Center align the links horizontally */
    margin-top: 20px; /* Add some space above the links */
}

.left-container form .link a {
    font-size: 12px;
    color: #ffffff;
    padding: 5px 0; /* Add padding to create space between links */
}

.left-container .link a:hover {
    color: var(--primary-color);
}
.left-container form .link a{
    text-transform: capitalize;
    font-size: 12px;
    position: relative;
    padding-bottom: 0.10rem;
    color: #ffffff;
    transition: all 0.3s ease;
}

.left-container form a::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #FF5E19;
    transition: all 0.3s ease;
}

.left-container form a:hover::after{
    width: 100%;
}