@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #222831;
}

/* INDEX HTML STLYE */
.navigation_bar {
    display: flex;
    justify-content: space-between;
    padding: 15px 80px 15px;
    width: 100%;
    color: #ffffff;
    align-items: center;
    border-bottom: .5px solid #414853;
}

.navigation_bar h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.toggle_buttons {
    display: flex;
    align-items: center;
}

.navigation_bar .login_button,
.navigation_bar .register_button {
    box-sizing: border-box;
    color: #393E46;
    width: 100px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    text-align: center;
    margin: 0 20px;
    transition: background-color 0.3s, color 0.3s;
}

.navigation_bar .login_button a,
.navigation_bar .register_button a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

.navigation_bar .login_button a:hover,
.navigation_bar .register_button a:hover {
    color: #00ADB5;
}

.navigation_bar .login_button:hover,
.navigation_bar .register_button:hover {
    background-color: #ffffff;
}

#about {
    color: #ffffff;
    text-decoration: none;
    margin: 0 30px;
}

#about:hover {
    color: #00ADB5;
}

#contact {
    color: #ffffff;
    text-decoration: none;
    margin: 0 30px;
}

#contact:hover {
    color: #00ADB5;
}


/* Footer for Index HTML Style */
footer {
    font-style: normal;
    margin-top: 800px;
    text-align: center;
    padding: 20px;
    border-top: .5px solid #414853;
}

footer p {
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
}